.q-green {
  color: #84bc2d;
}

body, select, input {
  font: 20px/32px sans-serif;
}

body {
  margin: 0;
}

section {
  width: 600px;
  margin: 0 auto;
  padding: 1em 0;
}

h2 {
  font-size: 24px;
  margin: 2em 0 0 0;
}

a {
  color: inherit;
  color: #84bc2d;
  text-decoration: none;
}

.code {
  background: #EEE;
  color: #333;
  font: 14px monospace;
  padding: 0.3em;
}

.lhead {
  display: inline-block;
  width: 120px;
  text-align: right;
}

#manifesto h1,
#manifesto p {
  margin: 1em 0;
  text-align: justify;
}

#factsheet {
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #000082;
  color: white;
}

#factsheet h1,
#factsheet p {
  width: 600px;
  margin: 0 auto;
  padding: 1em 0;
}

#getit .copypaste {
  font: 16px monospace;
  width: 100%;
  color: #444;
  background: #EEE;
  border: 1px solid #CCC;
  padding: 1em
}

#logo {
  margin: 100px auto;
  width: 20vw;
  height: 20vh;
  display: block;
  padding: 20px;
}

#codeplaceholder {
  background: black;
  color: #4F4;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  section {
    width: 90vw;
  }
}
