/* common */

.q-green {
  color: #84bc2d;
}

body, select, input {
  font: 17px/27px 'Work Sans', sans-serif;
  color: #333;
}

h1, h2, h3 {
  font: bold italic 50px 'Playfair Display', sans-serif;
  color: #333;
}

body {
  margin: 0;
}

/* page elements and styles */

#logo {
  margin: 50px auto;
  width: 30vw;
  height: 40vh;
  display: block;
}

section {
  width: 600px;
  margin: 0 auto;
  padding: 1em 0;
}

h1 {
  font-size: 48px;
  margin: 2em 0 0 0;
}

h2 {
  font-size: 24px;
  margin: 2em 0 0 0;
}

a {
  color: #84bc2d;
  text-decoration: none;
}

.lhead {
  display: inline-block;
  width: 140px;
}

#manifesto h1,
#manifesto p {
  margin: 3em 0;
  text-align: justify;
}

#factsheet {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000082;
  color: white;
}

#factsheet h1,
#factsheet p {
  width: 600px;
  margin: 0 auto;
  padding: 1em 0;
  color: white;
}

#getit .copypaste {
  font: 16px monospace;
  width: 100%;
  color: #444;
  background: #EEE;
  border: 1px solid #CCC;
  padding: 1em
}

#getit .code {
  background: #EEE;
  color: #333;
  font: bold 14px monospace;
  padding: 0.3em;
}

#getit .arrow {
  padding: 0 0 0 4em;
}

#codeplaceholder {
  background: black;
  color: #4F4;
  padding-bottom: 8em;
}

#codeplaceholder h1 {
  color: #4F4;
}

#codeplaceholder a {
  color: white;
}

#colophonplaceholder {
  background: black;
  color: white;
  padding-bottom: 2em;
}

#colophon {
  text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  section {
    width: 90vw;
  }
}
