/* common */

* {
  box-sizing: border-box;
}

@font-face {
   font-family: 'Proxima Nova';
   font-weight: normal;
   src: url('fonts/proxima_nova_regular.woff');
}

@font-face {
   font-family: 'Proxima Nova';
   font-weight: bold;
   src: url('fonts/proxima_nova_extrabold.woff') format('woff');
}

.q-green {
  color: #84bc2d;
}

body, select, input {
  font: 20px/32px 'Proxima Nova', sans-serif;
  color: #41453b;
  background-color: #f3f5ee;
}

h1, h2, h3 {
  font: bold 20px 'Proxima Nova', sans-serif;
  color: #41453b;
  margin: 0 0 10px 0;
}

h3 {
  margin-top: 20px;
}

p {
  margin: 0 0 10px 0;
}

body {
  margin: 0;
}

/* page elements and styles */

#logo {
  width: 200px;
}

#logo-smol {
  width: 50px;
  margin: 0px auto;
  margin-bottom: 20px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.content {
  display: flex;
  max-width: 1100px;
  width: 100%;
}

.vertical {
  flex-direction: column;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
  margin-top: 40px;
}

a {
  color: #0652DD;
  text-decoration: underline;
}

.logo {
  min-width: 30%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
}

.description {
  min-width: 70%;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 40px;
}

#hero {
  background-color: #f3f5ee;
  text-align: center;
  padding: 40px;
}

#footer {
  background-color: #f3f5ee;
  text-align: center;
  padding: 40px;
}

.download {
  display: flex;
}

.link {
  min-width: 70px;
}

hr {
  width: 1100px;
  max-width: 1100px;
  border: 3px solid #f3f5ee;
  margin: 40px auto;
}

.diap {
  background-color: black;
}

.code {
  font-family: monospace;
  background-color: #f3f5ee;
}

@media only screen and (max-width: 500px) {
  .content {
    flex-direction: column;
  }
  .logo{
    width: 100%;
  }
  .description{
    width: 100%;
  }
}
