/* common */

@font-face {
   font-family: 'Proxima Nova';
   font-weight: normal;
   src: url('fonts/proxima_nova_regular.woff');
}

@font-face {
   font-family: 'Proxima Nova';
   font-weight: bold;
   src: url('fonts/proxima_nova_extrabold.woff') format('woff');
}

.q-green {
  color: #84bc2d;
}

body, select, input {
  font: 20px/32px 'Proxima Nova', sans-serif;
  color: #333;
}

h1, h2, h3 {
  font: bold 20px 'Proxima Nova', sans-serif;
  text-transform: uppercase;
  color: #333;
}

body {
  margin: 0;
}

/* page elements and styles */

#logo {
  margin: 50px auto;
  width: 30vw;
  height: 40vh;
  display: block;
}

section {
  width: 600px;
  margin: 0 auto;
  padding: 1em 0;
}

h1 {
  font-size: 36px;
  margin: 2em 0 0 0;
}

h2 {
  font-size: 24px;
  margin: 2em 0 0 0;
}

a {
  color: #84bc2d;
  text-decoration: none;
}

.lhead {
  display: inline-block;
  width: 140px;
}

#manifesto h1,
#manifesto p {
  margin: 3em 0;
  text-align: justify;
}

.blue {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #2E3561;
  color: white;
}

.blue h1,
.blue p {
  width: 600px;
  margin: 0 auto;
  padding: 1em 0;
  color: white;
}

.green {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #513653;
  color: white;
}

.green h1,
.green p, 
.green ul {
  width: 600px;
  margin: 0 auto;
  padding: 1em 0;
  color: white;
}

.green h1 {
  color: #84bc2d;
}

#getit .copypaste {
  font: 16px monospace;
  width: 100%;
  color: #444;
  background: #EEE;
  border: 1px solid #CCC;
  padding: 1em
}

#getit .code {
  background: #EEE;
  color: #333;
  font: bold 14px monospace;
  padding: 0.3em;
}
#getit .code .truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
  vertical-align: -4px;
}

#getit .arrow {
  padding: 0 0 0 4em;
}

#codeplaceholder {
  background: black;
  color: #4F4;
  padding-bottom: 8em;
}

#codeplaceholder h1 {
  color: #4F4;
}

#codeplaceholder a {
  color: white;
}

#colophonplaceholder {
  background: black;
  color: white;
  padding-bottom: 2em;
}

#colophon {
  text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  section {
    width: 90%;
    margin: 0 auto;
    padding: 1em 0;
  }

  h1 {
    font-size: 24px;
  }

  .blue h1,
  .blue p {
    width: 90%;
    margin: 0 auto;
    padding: 1em 0;
    color: white;
  }

}
