body {
	text-align: center;
	margin: 0;
	padding: 0;
	height: 100%;
}
q42 {
	width: 25%;
	height: 29vh;
	margin: 8vh 3vh;
}
q42[theme="white"] {
	background: #444;
}

q42[renderer="svg"] {
	position: relative;
	-webkit-perspective: 500px;
	perspective: 500px;
}
q42[renderer="svg"] svg {
	-webkit-transition: -webkit-transform 1s ease;
	transition: transform 1s ease;
}
q42[renderer="svg"]:hover svg {
	-webkit-transform: rotate3d(0,1,0,900deg);
	transform: rotate3d(0,1,0,900deg);
}

q42.full {
	width: 96vw;
	height: 96vh;
	box-shadow: none;
}
