q42-logo {
	width: 420px;
	height: 400px;
	margin: 10px;
	padding: 10px;
	box-shadow: 2px 2px 10px rgba(0,0,0,.2);
}
q42-logo[data-theme="white"] {
	background: #444;
}

q42-logo[data-render-type="SVG"] {
	position: relative;
	-webkit-perspective: 500px;
	perspective: 500px;
}
q42-logo[data-render-type="SVG"] svg {
	-webkit-transition: -webkit-transform 2s ease;
	transition: transform 2s ease;
}
q42-logo[data-render-type="SVG"]:hover svg {
	-webkit-transform: rotate3d(0,1,0,720deg);
	transform: rotate3d(0,1,0,720deg);
}
